@import './variables.scss';

@keyframes waves {
  from {opacity: 1; transform: scale(1);}
  50% {opacity: 1;}
  to {opacity: 0; transform: scale(1.5);}
}

.self-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 2rem 2rem 1rem;
  border-radius: $border-radius;
  
  .self-text {
    display: flex;
    flex-direction: column;
    
    h3 {
      color: $primary;
    }
  }
  
  .self {
    // display: inline-table; // so that it does not shrink on flex... //
    position: relative;
    height: 6rem;
    width: 6rem;
    margin-left: 2.75rem;
    border-radius: 50%;
    background-image: url('../Images/abo/self1.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.25rem solid $background-color;
    box-shadow: $box-shadow-1;
    
    .back-1, .back-2 {
      position: absolute;
      top: -4px;
      left: -4px;
      height: 6rem;
      width: 6rem;
      filter: blur(1px);
      border-radius: 50%;
      z-index: -1;
    }
    .back-1 {
      box-shadow: $box-shadow-1;
      background: $bg-concave;
      animation: waves 4s linear infinite;
    }
    .back-2 {
      box-shadow: $box-shadow-3;
      animation: waves 4s linear 2s infinite;
    }
  }
}

.stats-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  img {
    margin: 2rem;
    width: 340px;
    height: fit-content;
    border-radius: $border-radius;
    border: 0.25rem solid $background-color;
    box-shadow: $box-shadow-1;
  }
  
  .role-card {
    display: flex;
    flex-direction: row;
    width: 340px;
    padding: 0.75rem 0.75rem;
    height: fit-content;
    border-radius: $border-radius;
    box-shadow: $box-shadow-inset;
    
    .angular {
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 1rem;
      background-image: url('../Images/abo/ang-logo.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    p {
      
    }
  }
}


@media only screen and (max-width: 650px) {
  .self-wrap {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    .self {
      display: inline-table; // so that it does not shrink on flex... //
      position: relative;
      margin-left: 0rem;
      margin-bottom: 2.25rem;
      border-radius: 50%;
      background-image: url('../Images/abo/self1.jfif');
      background-size: cover;
      background-repeat: no-repeat;
      border: 0.25rem solid $background-color;
      box-shadow: $box-shadow-1;
    }
  }
  
  .stats-wrap {
    margin-left: 1rem;
    
    img {
      width: calc(100% - 1rem);
      height: auto;
      border-radius: $border-radius;
      border: 0.25rem solid $background-color;
      box-shadow: $box-shadow-1;
    }
  }
}
