@import './variables.scss';

@keyframes waves {
  from {opacity: 1; transform: scale(1);}
  50% {opacity: 1;}
  to {opacity: 0; transform: scale(1.5);}
}


.self-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
  margin-bottom: 3rem;
  
  .self-img {
    position: relative;
    height: 6rem;
    width: 6rem;
    margin-right: 2.75rem;
    border-radius: 50%;
    background-image: url('../Images/abo/self1.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.25rem solid $background-color;
    box-shadow: $box-shadow-1;
    
    &:hover {
      .back-1 {
        animation: waves 1s linear infinite;
      }
      .back-2 {
        animation: waves 2s linear 2s infinite;
      }
    }
    &:active {
      background-image: $bg-concave;
      cursor: none;
    }
    
    .back-1, .back-2 {
      position: absolute;
      top: -4px;
      left: -4px;
      height: 6rem;
      width: 6rem;
      filter: blur(1px);
      border-radius: 50%;
      z-index: -1;
    }
    .back-1 {
      box-shadow: $box-shadow-1;
      background: $bg-concave;
      animation: waves 4s linear infinite;
    }
    .back-2 {
      box-shadow: $box-shadow-3;
      animation: waves 4s linear 2s infinite;
    }
  }
  
  .self-text {
    display: flex;
    flex-direction: column;
    width: fit-content;
    
    h3 {
      color: $primary;
    }
  }
}



.stats-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 100vh;
  
  .git-card {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    height: fit-content;
    width: 22rem;
    border-radius: $border-radius;
    border: 0.25rem solid $background-color;
    box-shadow: $box-shadow-1;
  }
  
  .role-card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 0.75rem 0.75rem;
    padding-top: 1.5rem;
    height: fit-content;
    border-radius: $border-radius;
    
    .role-title {
      display: flex;
      justify-content: center;
      margin-left: -1rem;
      
      .angular {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 0.5rem;
        background-image: url('../Images/abo/ang-logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        &.blue {
          filter: hue-rotate(225deg) brightness(1.5);
        }
        &.green {
          filter: hue-rotate(140deg) brightness(1.5);
        }
      }
      div {
        p {
          font-weight: bold;
          margin-bottom: 0rem;
        }
        .sub {
          color: $primary;
        }
      }
    }
    .role-body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 1.5rem 2rem 0rem 2rem;
      
      a{
        width: fit-content;
        padding: 0.133rem 1.25rem;
        margin: 0rem auto;
        border-radius: 1.25rem;
        box-shadow: $box-shadow-1;
        color: $primary!important;
        i {
          opacity: 0.8;
          transform: translateX(0rem);
          transition: $transition-long;
        }
        &:hover {
          box-shadow: $box-shadow-inset;
          color: $primary-dark!important;
          i {
            opacity: 1;
            transform: translateX(0.5rem);
          }
        }
      }
      .quote {
        display: flex;
        margin: 1.5rem 0rem 0rem 0rem;
        border-radius: 0.5rem;
        border: 1px solid transparent;
        box-shadow: $box-shadow-inset;
        transition: $transition;
        &:hover {
          box-shadow: $box-shadow-1;
          border: 1px solid $primary-dark;
          small {
            font-weight: bold;
          }
        }
        small {
          transition: $transition;
          padding: 1rem;
        }
        &.via3 {
          background: none;
          text-align: center;
          border: 1px solid transparent;
          box-shadow: none;
          flex-direction: column;
          padding-bottom: 1rem;
          margin: 0rem 0rem 0rem 0rem;
          small {
            font-weight: bold;
          }
        }
      }
    }
  }
}

// mobile //
@media only screen and (max-width: 650px) {
  .self-wrap {
    margin-bottom: 0rem;
    
    .self-img {
      margin-right: 0rem;
    }
    .self-text {
      text-align: center;
    }
  }
  .stats-wrap {
    .git-card {
      width: 21rem;
    }
  }
}
// 