@import './variables.scss';

/* The actual timeline (the vertical ruler) */ 

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0rem auto;
  padding: 6rem 0rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  
  &::after {
    content: '';
    position: absolute;
    width: 0.75rem;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.375rem;
    border-radius: 0.375rem;
    background: $background-color;
    box-shadow: $box-shadow-inset;
  }
  
  .container {
    padding: 0.75rem 2.5rem;
    position: relative;
    background-color: inherit;
    width: 50%;
    
    &::after {
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      right: -1rem;
      background: $bg-convex;
      border: 0.5rem solid $background-color;
      box-shadow: $box-shadow-2;
      top: 1rem;
      border-radius: 50%;
      z-index: 1;
    }
    
    &.left {
      margin-left: 0;
      margin-right: auto;
      
      &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 1.25rem;
        width: 0;
        z-index: 1;
        right: 1.5rem;
        border: medium solid;
        border-width: 0.75rem 0 0.75rem 0.75rem;
        border-color: transparent transparent transparent $border-color;
      }
      
      .content {
        .cert-title {
          padding-right: 1rem;
          padding-left: 0rem;
        }
        
        .cert-description {
          display: flex;
          justify-content: flex-end;
          text-align: end;
          background: $bg-concave-primary;
          left: 0rem;
        }
      }
    }
    
    &.right {
      margin-left: auto;
      margin-right: 0;
      
      &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 1.25rem;
        width: 0;
        z-index: 1;
        left: 1.5rem;
        border: medium solid;
        border-width: 0.75rem 0.75rem 0.75rem 0;
        border-color: transparent $border-color transparent transparent;
      }
      
      &::after {
        left: -1rem;
      }
    }
    
    .content {
      padding: 1.25rem 1.75rem;
      position: relative;
      border-radius: $border-radius;
      z-index: 3;
      background: $background-color;
      box-shadow: $box-shadow-1;
      transition: 0.425s cubic-bezier(0.48, 0.89, 0.32, 1.28);
      
      .cert-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: $border-radius;
        box-shadow: $box-shadow-inset;
        background: $background-color;
        margin-bottom: 0.75rem;
        padding-left: 1rem;
        border-radius: 1.5rem;
        
        .cert-date-badge {
          border: 1px solid $background-color;
          font-size: 0.88rem;
          border-radius: 1.5rem;
          box-shadow: $box-shadow-1;
          width: fit-content;
          background: $bg-convex;
          padding: 0rem 0.5rem;
        }
      }
      
      .cert-img {
        height: 15rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        position: relative;
        z-index: 4;
        
        &.dojo-img {
          background-image: url('../Images//edu/certs/DojoCert.png');
        }
        &.react-img {
          background-image: url('../Images/edu/certs/MasterReactCert.png');
        }
        &.redux-img {
          background-image: url('../Images/edu/certs/ReduxCert.png');
        }
        &.sass-img {
          background-image: url('../Images/edu/certs/SassCert.jpg');
        }
        &.design-1-img {
          background-image: url('../Images/edu/certs/DesignIntroCert_2.jpg');
        }
        &.es6-img {
          background-image: url('../Images/edu/certs/ES6cert.jpg');
        }
        &.angular-img {
          background-image: url('../Images/edu/certs/Angular4Cert.jpg');
        }
        &.ts-1-img {
          background-image: url('../Images/edu/certs/TypeScript_basic_cert.PNG');
        }
        &.ts-2-img {
          background-image: url('../Images/edu/certs/TypeScript_master_cert.PNG');
        }
      }
      
      .cert-description {
        display: flex;
        position: absolute;
        padding: 0.25rem 0.75rem;
        margin-top: 0.25rem;
        right: 0rem;
        color: $white;
        box-shadow: $box-shadow-1;
        border-radius: 0.75rem;
        background: $bg-convex-primary;
        border: 0.25rem solid $background-color;
        text-shadow: 2px 1px 1px $black;
        height: 0rem;
        width: 0%;
        overflow: hidden;
        transition: 0.325s cubic-bezier(0.48, 0.89, 0.32, 1.28);
      }
    }
    
    
    // .container :: hov >
    &:hover {
      
      &.left {
        &::before {
          border-color: transparent transparent transparent $primary-light;
        }
      }
      &.right {
        &::before {
          border-color: transparent $primary-light transparent transparent;
        }
      }
      &::after {
        background: $bg-concave-primary;
        box-shadow: $box-shadow-1;
      }
      .content {
        transform: translateY(-1rem);
        .cert-title {
          .cert-date-badge {
            background: $bg-concave;
            color: $primary;
            font-weight: bold;
          }
        }
        
        .cert-description {
          height: min-content;
          width: 100%;
          box-shadow: $box-shadow-2;
        }
      }
    }
  }
}


// break to 1 column right
@media screen and (max-width: 1092px) {
  .timeline {
    margin-top: 4rem;
    
    &::after {
      left: 1rem;
    }
    
    .container {
      width: 100%;
      padding: 0.75rem 0.5rem 0.75rem 3.25rem;
      margin-bottom: 0.5rem;
      
      &.right {
        &::before {
          content: " ";
          height: 0;
          position: absolute;
          top: 1.25rem;
          width: 0;
          z-index: 1;
          left: 2.25rem;
          border: medium solid;
          border-width: 0.75rem 0.75rem 0.75rem 0;
          border-color: transparent $border-color transparent transparent;
        }
      }
      &.left {
        &::before {
          content: " ";
          height: 0;
          position: absolute;
          top: 1.25rem;
          width: 0;
          z-index: 1;
          left: 2.25rem;
          border: medium solid;
          border-width: 0.75rem 0.75rem 0.75rem 0;
          border-color: transparent $border-color transparent transparent;
        }
        
        .content {
          .cert-title {
            flex-direction: row-reverse;
            padding-left: 0.25rem;
            padding-right: 0rem;
          }
          
          .cert-description {
            background: $bg-convex-primary;
            justify-content: flex-start;
            text-align: left;
          }
        }
      }
      
      &.left {
        &::after {
          left: 0rem;
        }
      }
      
      &.right {
        margin-left: 0;
        margin-right: auto;
        &::after {
          left: 0rem;
        }
      }
      
      .content {
        .cert-description {
          position: relative;
          background: $bg-convex-primary;
          margin-top: 1rem;
        }
      }
      
      // container :: hov >
      &:hover {
        &.left {
          &::before {
            border-color: transparent $primary-light transparent transparent ;
          }
        }
        &.right {
          &::before {
            border-color: transparent $primary-light transparent transparent ;
          }
        }
      }
      
      .content {
        .cert-title {
          flex-direction: row;
          padding-left: 0.75rem;
          padding-right: 0rem;
        }
      }
    }
  }
}

// small - phone 
@media screen and (max-width: 440px) {

  .timeline {
    .container {
      &.left {
        .content {
          .cert-title {
            flex-direction: column;
            align-items: center;
            padding: 1rem 0rem 0.75rem 0rem;
            border-radius: $border-radius;
            
            .cert-date-badge {
              margin-bottom: 0.5rem;
            }
          }
          
          .cert-description {
            text-align: left;
            background: $bg-concave-primary;
          }
        }
      }
      
      .content {
        .cert-title {
          flex-direction: column-reverse;
          align-items: center;
          padding: 1rem 0rem 0.75rem 0rem;
          border-radius: $border-radius;
          
          .cert-date-badge {
            margin-bottom: 0.5rem;
          }
        }
        
        .cert-img {
          height: 11rem;
        }
        
        .cert-description {
          margin-top: 1rem;
          background: $bg-concave-primary;
        }
      }
      
      // container : hov 
      &:hover {
        .content {
          .cert-title {
            background: $bg-convex-primary;
            box-shadow: $box-shadow-2;
            border: 0.25rem solid $background-color;
            border-radius: 0.75rem;
            
            .cert-name {
              color: $white;
              font-weight: bold;
            }
            
            .cert-date-badge {
              box-shadow: $box-shadow-inset;
            }
          }
        }
      }
    }
  }
}
