@import "./variables.scss";

.break-section {
  display: flex;
  height: 0.5rem;
  margin: 0rem auto;
  width: calc(100% - 1.5rem);
  box-shadow: $box-shadow-inset;
}

// @media only screen and (max-width: 650px) {}