@import "./variables.scss";

.neu-left-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  width: 11.25rem;
  padding: 0.75rem;
  padding-bottom: 2rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow-1;
  
  .left-nav-title {
    text-align: center;
    margin-top: 0.25rem;
    
    h4 {
      font-family: $normal-font;
      color: $primary;
      margin-bottom: 0;
      line-height: 0.5;
      font-weight: bold;
    }
    small {
      font-size: 0.75rem;
      font-weight: bold;
    }
  }
  .left-nav-social-links {
    display: flex;
    justify-content: space-around;
    margin-top: 0.75rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid $border-color;
    
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.25rem;
      width: 2.25rem;
      border-radius: 50%;
      // border: 1px solid transparent;
      color: $primary;
      box-shadow: $box-shadow-2;
      text-decoration: none!important;
      background: $background-color;
      transition: $transition;
      
      &:hover {
        background: $bg-concave;
        color: $primary-dark;
        // border: 1px solid $border-color;
        box-shadow: $box-shadow-1;
        text-decoration: none!important;
      }
      
      i {
        font-size: 1.2rem;
        font-weight: bold;
        &.fa-github-alt {
          font-size: 1.33rem;
        }
      }
    }
    
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.25rem;
      width: 2.25rem;
      border-radius: 50%;
      border: 1px solid transparent;
      color: $primary;
      box-shadow: $box-shadow-2;
      text-decoration: none!important;
      background: $background-color;
      transition: $transition;
      
      &:hover {
        color: $primary-dark;
        border: 1px solid $border-color;
        box-shadow: $box-shadow-1;
        text-decoration: none!important;
      }
      
      &:active {
        border: 1px solid transparent;
        box-shadow: $box-shadow-inset;
      }
      
      i {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
  
  .left-nav-main-links {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 1.25rem;
    
    .neu-btn {
      background: transparent;
      padding: 0;
      border: none;
      text-align: left;
      padding: 0.25rem;
      color: $text-color-primary;
      transition: $transition;
      
      &:hover {
        color: $primary;
      }
      
      &.active {
        color: $primary-dark;
        font-weight: bold;
        padding-left: 0.5rem;
      }
    }
    
    .border-float {
      pointer-events: none;
      display: flex;
      position: absolute;
      height: 2rem;
      width: 9.75rem;
      border-radius: $border-radius;
      box-shadow: $box-shadow-inset;
      transition: 0.1s ease-in-out;
      &.abo-select {
        transform: translateY(0rem);
      }
      &.pro-select {
        transform: translateY(2rem);
      }
      &.edu-select {
        transform: translateY(4rem);
      }
    }
  }
  
  .colors {
    display: flex;
    justify-content: space-around;
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    border-top: 2px solid $border-color;
    
    .color-pick {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.25rem;
      width: 2.25rem;
      border-radius: 50%;
      border: 1px solid transparent;
      color: $primary;
      box-shadow: $box-shadow-2;
      text-decoration: none!important;
      background: $background-color;
      transition: $transition;
      
      &:hover {
        color: $primary-dark;
        // border: 1px solid $border-color;
        box-shadow: $box-shadow-1;
        text-decoration: none!important;
      }
      
      &:active {
        border: 1px solid transparent;
        box-shadow: $box-shadow-inset;
      }
      
      &.blue {
        color: hsl(218, 100%, 58%);
      }
      &.green {
        color: hsl(108, 100%, 38%);
      }
      &.orange {
        color: hsl(32, 100%, 48%);
      }
      
      i {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}
