@import './variables.scss';

.featured-projects-wrap {
  display: flex;
  margin-top: 4rem;
  
  .featured-project {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    .proj-info {
      position: absolute;
      top: 1rem;
      margin: 0rem 1rem;
      
      .proj-title {
        display: flex;
        
        h4 {
          display: inline-flex;
          font-weight: bold;
          text-decoration: overline;
          text-decoration-style: wavy;
          text-decoration-thickness: 2px;
          color: $primary;
        }
        
        small {
          margin-left: 1rem;
        }
      }
      
      p {
        
      }
    }
    
    .feat-proj-card {
      transform: scale(0.65);
      padding: 1.5rem;
      padding-bottom: 1rem;
      border-radius: 0.5rem;
      box-shadow: $box-shadow-inset;
      
      iframe {
        height: 36.5rem;
        width: 64rem;
        background-color: $white;
      }
    }
  }
}

@media only screen and (max-width: 1020px) {
  .featured-projects-wrap {
    .featured-project {
      .feat-proj-card {
        iframe {
          width: 26rem;
          height: 44rem;
        }
      }
    }
  }
}

// //