// 🚧🚧🚧 TEST //
  $TEST-COLOR-1: red;
  $TEST-BORDER-1: 0.1px dashed red;
  $TEST-COLOR-2: chartreuse;
  $TEST-BORDER-2: 0.1px dashed chartreuse;


// DARK // 

  // $dark-bg: #444444;
  // $dark-bg-dark-shadow: #363636;
  // $dark-bg-light-shadow: #525252;

  // $g-text-color-dark: rgba(255, 255, 255, 0.93);
  // $g-text-color-secondary-dark: rgba(255, 255, 255, 0.7);
  // $g-text-color-disabled-dark: rgba(255, 255, 255, 0.45);

  // $g-bg-color-disabled-dark: #727272;


// LIGHT // 
  $light-bg: #e4ebf5;
  $light-bg-dark-shadow: #bec8e4;
  $light-bg-light-shadow: #ffffff;

  $g-text-color-primary-light: rgba(0, 0, 0, 0.93);
  $g-text-color-secondary-light: rgba(0, 0, 0, 0.7);
  $g-text-color-disabled-light: rgba(0, 0, 0, 0.45);

  $g-bg-color-disabled-light: #dee5e8;

  :root {
    --bgcolor: $light-bg;
  }

// SHARED // 


  $white: #ffffff;
  $black: #000000;

  $primary: #2977ff;
  $primary-dark: #2962ff;
  $primary-light: #80b0ff;

  $error: #ff5252;
  $info: #2094f3;
  $success: #4caf50;
  $warning: #dfa700;

  $border-color: $light-bg-dark-shadow;
  $border-radius: 0.25rem;

  // elevation levels 1(low) - 5(high) //
  $box-shadow-1: 3px 3px 6px $light-bg-dark-shadow,-3px -3px 6px $light-bg-light-shadow;
  $box-shadow-2: 6px 6px 12px $light-bg-dark-shadow,-6px -6px 12px $light-bg-light-shadow;
  $box-shadow-3: 9px 9px 18px $light-bg-dark-shadow,-9px -9px 18px $light-bg-light-shadow;
  $box-shadow-4: 12px 12px 24px $light-bg-dark-shadow,-12px -12px 24px $light-bg-light-shadow;
  $box-shadow-5: 15px 15px 30px $light-bg-dark-shadow,-15px -15px 30px $light-bg-light-shadow;

  // depressed 
  $box-shadow-inset: inset -2px -2px 5px $light-bg-light-shadow,inset 2px 2px 5px $light-bg-dark-shadow;

  // 3D buttons & concave gradients 
  $bg-convex: linear-gradient(145deg, $light-bg-light-shadow, $light-bg-dark-shadow);
  $bg-concave: linear-gradient(145deg, $light-bg-dark-shadow, $light-bg-light-shadow);

  $normal-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  $transition: 0.125s;
  $transition-long: 0.325s;

// end //








  // scrollbars index.css for body //

  // ::-webkit-scrollbar {
  //     width: 4px!important;
  // }
  
  // ::-webkit-scrollbar-thumb {
  //   border-radius: 2px!important;
  //   border: 3px solid transparent!important;
  //   background-color: $g-text-color-disabled-light!important;
  // }
  
  // ::-webkit-scrollbar-track {
  //   box-shadow: $box-shadow-inset!important;
  // }

// //