// theme COLORS (3) // 

  // $blueColor1: #2978FF;
  // $blueColor2: #0151D9;
  // $blueColor3: #7DADFE;

  // $greenColor1: #28C200;
  // $greenColor2: #219C00;
  // $greenColor3: #6BDD4D;

  // $orangeColor1: #F58300;
  // $orangeColor2: #C16700;
  // $orangeColor3: #FFB560;


// 🌑 DARK // 

  // $dark-bg: #444444; //
  // $dark-bg-dark-shadow: #363636; //
  // $dark-bg-light-shadow: #525252; //

  // $g-text-color-dark: rgba(255, 255, 255, 0.93); //
  // $g-text-color-secondary-dark: rgba(255, 255, 255, 0.7); //
  // $g-text-color-disabled-dark: rgba(255, 255, 255, 0.45); //


// 🌕 LIGHT (blue) // 

  :root {
    // dark/light toggle -> 
    --bgcolor: #e5ecf5;
    --dark-shadow: #bec8e4;
    --light-shadow: #ffffff;

    --text-color-primary: rgba(0, 0, 0, 0.93);
    --text-color-secondary: rgba(0, 0, 0, 0.7);
    --text-color-disabled: rgba(0, 0, 0, 0.45);

    // color toggle -> 
    --primary: #2978FF;
    --primary-dark: #0151D9;
    --primary-light: #7DADFE;
  }

// SHARED // 

  $background-color: var(--bgcolor);
  $dark-shadow: var(--dark-shadow);
  $light-shadow: var(--light-shadow);

  $text-color-primary: Var(--text-color-primary);
  $text-color-secondary: var(--text-color-secondary);
  $text-color-disabled: var(--text-color-disabled);

  $primary: var(--primary);
  $primary-dark: var(--primary-dark);
  $primary-light: var(--primary-light);

  // default . don't change //
  $white: #ffffff;
  $black: #000000;

  $border-color: $dark-shadow;
  $border-radius: 0.5rem;
  $border-radius-circle: 50%;

  // elevation levels 1(low) - 5(high) //
  $box-shadow-1: 3px 3px 6px $dark-shadow,-3px -3px 6px $light-shadow;
  $box-shadow-2: 6px 6px 12px $dark-shadow,-6px -6px 12px $light-shadow;
  $box-shadow-3: 9px 9px 18px $dark-shadow,-9px -9px 18px $light-shadow;
  $box-shadow-4: 12px 12px 24px $dark-shadow,-12px -12px 24px $light-shadow;
  $box-shadow-5: 15px 15px 30px $dark-shadow,-15px -15px 30px $light-shadow;

  // depressed 
  $box-shadow-inset: inset -2px -2px 5px $light-shadow,inset 2px 2px 5px $dark-shadow;

  // 3D buttons & concave gradients 
  $bg-convex: linear-gradient(145deg, $light-shadow, $dark-shadow);
  $bg-concave: linear-gradient(145deg, $dark-shadow, $light-shadow);

  $normal-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  $transition: 0.125s;
  $transition-long: 0.325s;

  * {
    user-select: none;
  }

  .no-transition {
    * {
      transition: none!important;
    }
  }

// end //




// 🚧🚧🚧 TEST //
$TEST-COLOR-1: red;
$TEST-BORDER-1: 0.1px dashed red;
$TEST-COLOR-2: chartreuse;
$TEST-BORDER-2: 0.1px dashed chartreuse;


  // scrollbars index.css for body //

  // ::-webkit-scrollbar {
  //     width: 0.25rem!important;
  // }
  
  // ::-webkit-scrollbar-thumb {
  //   border-radius: 0.125rem!important;
  //   border: 0.188rem solid transparent!important;
  //   background-color: $text-color-secondary!important;
  // }
  
  // ::-webkit-scrollbar-track {
  //   box-shadow: $box-shadow-inset!important;
  // }

// //