@import './SASS/variables.scss';

body {
  scrollbar-width: thin!important;
  scrollbar-color: $background-color!important;
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color!important;
  color: $text-color-primary!important;
}
::-webkit-scrollbar {
  width: 8px!important;
}

::-webkit-scrollbar-thumb {
border-radius: 4px!important;
border: 6px solid transparent!important;
background-color: $text-color-secondary!important;
}

::-webkit-scrollbar-track {
box-shadow: $box-shadow-inset!important;
}

