@import './SASS/variables.scss';

body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-bg!important;
  color: $g-text-color-primary-light!important;
}
::-webkit-scrollbar {
  width: 8px!important;
}

::-webkit-scrollbar-thumb {
border-radius: 4px!important;
border: 6px solid transparent!important;
background-color: rgba(0, 0, 0, 0.45)!important;
}

::-webkit-scrollbar-track {
box-shadow: inset -2px -2px 5px #ffffff,inset 2px 2px 5px #363636!important;
}
/*  */